[
  {rabbitmq_federation,
    [ {exchanges, [] },
      {upstream_sets, [ {"global", [ [ {connection, "amazon_us_east"} ] ] },
                        {"corporateHQ", [ [ {connection, "hq"},
     					{exchange, "orders.exchange.amazon.eu.west"} ] ] }
                      ]},
      {connections, [ {"amazon_us_east", [ {host, "TODO: your-amazon-us-east-ip/hostname"},
                                        {virtual_host, "globalpubsub"} ]},
                      {"hq", [ {host, "TODO: your-amazon-us-east-ip/hostname"},
                               {virtual_host, "orders-broker"} ]}
                    ]},
      {local_username, "guest"},
      {local_nodename, "rabbit"}
    ]
  }
].
