[
  {rabbitmq_federation,
    [ {exchanges, [] },
      {upstream_sets, [ {"global", [ [ {connection, "amazon_eu_west"} ] ] }
                      ]},
      {connections, [ {"amazon_eu_west", [ {host, "TODO: your-eu-west-hostname/ip"},
                                           {virtual_host, "globalpubsub"} ]}
                    ]},
      {local_username, "guest"},
      {local_nodename, "rabbit"}
    ]
  }
].
